<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>啊哈哈</title>
    <script src="js/jquery/2.0.0/jquery.min.js"></script>
    <link href="css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <script src="js/vue/2.5.16/vue.min.js"></script>
    <script src="js/axios/0.17.1/axios.min.js"></script>
    <script src="js/moment/2.22.2/moment.js"></script> <!-- vue.js 格式化日期用的 -->
    <link href="css/back/style.css" rel="stylesheet">
</head>
<body>
    <script>
       $(function () {
           var data4Vue = {
               uri:'categories',
               beans:[]
           };

           //viewModel
           var vue = new Vue({
               el:'#table',
               data:data4Vue,
               mounted:function () { //mounted 表示这个Vue对象加载成功了
                   this.list();
               },
               methods:{
                   list:function () {
                       var url = this.uri;
                       axios.get(url).then(function (response) {
                           vue.beans = response.data;
                       });
                   }
               }
           });
       });
    </script>
    <div id="table">
        <table>
            <tr>
                <th>ID</th>
                <th>名称</th>
            </tr>
            <tr v-for="bean in beans">
                <td>{{bean.id}}</td>
                <td>{{bean.name}}</td>
            </tr>
        </table>
    </div>
</body>
</html>