body{
   padding-top:70px;
}

/*分类表格位置*/
div#CategoryTable{
	margin:0px 40px;
}

/*分页样式*/
div.pageDiv{
    text-align:center;
}

/*新增的样式*/
div.addDiv{
    width:400px;
    margin:0px auto;
}
div.editDiv{
    width:400px;
    margin:0px auto;
}
table.addTable{
    width:100%;
}
table.editTable{
    width:100%;
}
table.editTable td{
    padding:5px;
}

table.addTable td{
    padding:5px;
}
